@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  background: white;
  color: white;
  font-size: 20px;
 align-items: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  padding: 0 100px;
}
@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}
.hero .banner .carousel{
  flex: 1;
  
}
h2{
  padding-bottom: 20px;
}
th{
  border: #16a34a;
  background-color: rgb(188, 208, 237);
}
table{
  display:flexbox;
  background-color: #fffefe;
  border: 2px;
  color: rgb(138, 138, 247);
  column-rule-color: #49ca78;
  border: 3px solid black;
}

.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 24px;
  font-family: 'Exo 2', sans-serif;
  padding: 100px 10px 10px 40px;
  border-radius: 7px;
  border: 10px solid gray;
}
select{
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left:20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
input{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left:20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  align-items: center;
}
 .value-pending {
  color: #eab308;
}
 .value-accepted {
  color: #16a34a;

}
 .value-occupied {
  
  background-color: #e34e4e;
}
.value-vacant {
 
  background-color: #49ca78;
}
 .value-rejected {
  color: #dc2626;
}
th{
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left:20px;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
  border: 3px solid black;
}
td{
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left:20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 3px solid black;
  
}

.grid-container{
  display: grid;
  gap: 50px 100px;
  justify-content: space-around;
}
.grid-item{
  grid-column-start: 1;
  grid-column-end: 3;

}
.Rooms {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #3b3b3b;
  padding: 12px;
  border-radius: 4px;
  color: #7e7e7e;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-bottom: 18px;
  perspective: 400px;

  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 70px;
  background: white;
  width: 100%;
  transform: rotateX(-30deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
  display: grid;
  grid-gap: 10px;
  height: 200px;
  grid-template-columns: repeat(8, min-content);
  align-items: center;
  
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #c1eac5;
  transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;
  animation: show-off 0.8s;
  visibility: hidden;
}

@keyframes show-off {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}
seat {
  display: inline-block;
  background: #626262;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
}

.seat.selected {
  background: #7bc47f !important;
}

.seat.occupied {
  background: #cfcfcf;
}

.info .count {
  color: #7bc47f;
}

.info .total {
  color: #7bc47f;
}
